canvas { 
	border: 0px solid black;
	display:inline;
	margin-top: 5%;
}

.col-md-12 {
	width: 100%;
	text-align: center;
}

body {
	background-color: #dbcbbb;
	font-family: 'Montserrat', sans-serif;
}